body{
  background-color: #b982ed;
}

 #square{
 color: white;
 display: inline-block;
 float: left;
 height: 300px;
}

#hey{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  text-align: right;
  padding-right: 90px;
}

#intro{
  color: white;
  font-family: 'Baloo Chettan', cursive;
  font-size: 60px;
  text-align: right;
  padding-right: 90px;
}

#title{
  color: white;
  font-family: 'Baloo Chettan', cursive;
  font-size: 50px;
  text-align: right;
  padding-right: 90px;
}

/* #centered{
  display: inline;
  position: relative;
} */

/* #skills{
  font-family: 'Asap', sans-serif;
  font-size: 500px;
  text-align: center;

  position: relative;
  display: inline;
} */

/* #skill{
  font-family: 'Asap', sans-serif;
  font-size: 50px;
} */

#computer{
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}

#circle{
  font-size: 25px;
  border-radius: 200%;
  height: 150px;
  width: 150px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: transparent;
  border: 2px solid black;
  display: inline-block;
  text-align: center;

}
